<h2 id='dash_port_title'>GA Courses</h2>

<div id='add_new_button'>
<%= button_to 'Add New Course', new_course_path, method: :get, class: 'btn btn-default btn-xs' %>
</div>

<section id='locations'>
  <% @courses.each do |course| %>
  <div class='location_port'>

    <h3><%= course.name %></h3>
    <p>Duration: <%= course.duration_weeks %> weeks</p>
    <p>Price: <%= number_to_currency(course.price, unit: "£") %> </p>
    <p>Minimum Instructors: <%= course.instructors_req %></p>

    <% course.cohorts.each do |cohort| %>
    <div class='course_cohort_port'>
      <h4><%= link_to "#{cohort.name}",course_cohort_path(course, cohort)%></h4>
      <p>Start Date: <%= cohort.if_booked %></p>
      <p>Assigned Instructors: <%= cohort.instructors.count %></p>
      <p>Enrolled Students: <%= cohort.students.count %></p>

    </div>
    <% end %>

    <div class='port_buttons'>
      <%= button_to 'Add Cohort', new_course_cohort_path(course), method: :get, class: 'btn btn-default btn-xs btn-long' %>
      <%= button_to 'Edit', edit_course_path(course), method: :get, class: 'btn btn-default btn-xs' %>
      <%= button_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
    </div>

  </div>
  <% end %>
</section>