<h2 id='dash_port_title'>GA Users</h2>

<% if can? :manage, User %>
  <div id='add_new_button'>
  <%= button_to 'Add New User', new_user_path, method: :get, class: 'btn btn-default btn-xs' %>
  </div>
<% end %>

<section id='users'>
  <div class='cohort_instructors'>
  
  <table class='table table-striped'>

    <col class='col_user_name'/>
    <col class='col_user_email'/>
    <col class='col_user_cohorts'/>
    <col class='col_user_role'/>
    <col class='col_user_actions'/>

    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Current Cohorts</th>
      <th>System Role</th>
      <th><!-- Actions --></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.cohort_relationships %></td>
        <td>
          <% if user.role %>
            <%= user.role.capitalize %>
          <% end %>
        </td>
        <td>
          <% if can? :manage, User %>
            <%= button_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
            <%= button_to 'Edit', edit_user_path(user), method: :get, class: 'btn btn-default btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
</section>