<h2>GA Locations</h2>
<%= button_to 'Add New Location', new_location_path, method: :get, class: 'btn btn-default btn-xs' %>

<section id='locations'>
  <% @locations.each do |location| %>
  <div class='location_port'>
    
    <h3><%= location.name %></h3>

    <% location.classrooms.each do |classroom| %>
    <h4><%= classroom.name %></h4>
    <p>Capacity: <%= classroom.capacity %></p>
    <p>Facilities: <%= classroom.facilities %></p>

    <%= button_to 'Edit', edit_location_classroom_path(location, classroom), method: :get, class: 'btn btn-default btn-xs' %>
    <%= button_to 'Delete', [location, classroom], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>

    <% end %>

    <%= button_to 'Add Classroom', new_location_classroom_path(location), method: :get, class: 'btn btn-default btn-xs' %>
    <%= button_to 'Edit', edit_location_path(location), method: :get, class: 'btn btn-default btn-xs' %>
    <%= button_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>

  </div>
  <% end %>
</section>
