<% if can? :read, Booking %>
  <h2>Bookings</h2>

  <div id='view_bookings_button_frame'>
    <% if can? :manage, Booking %>
      <button class='btn btn-success btn-xs booking_req' id="new_bookings_button">Add Booking</button>
    <% end %>
    <%= link_to 'View Bookings', bookings_path, class: 'btn btn-default btn-xs booking_req', id: "view_bookings_button" %>
  </div>

  <% if can? :manage, Booking %>
  <div id='dash_new_booking_port'>
    <%= render 'new_booking' %>
  </div>
  <% end %>
<% end %>

<% if can? :read, Location %>
  <%= render 'locations' %>
<% end %>

<% if can? :read, Course %>
  <%= render 'courses' %>
<% end %>

<%= render 'users' %>
