<div class='cohort_instructors'>
  <h3><%= @cohort.name %> Instructors</h3>

  <table class='table table-striped'>

    <col class='col_user_name'/>
    <col class='col_user_email'/>
    <col class='col_user_role'/>
    <col class='col_user_actions'/>

    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Role</th>
      <th><!-- Actions --></th>
    </tr>
    <% @cohort.instructor_assignments.each do |instructor_assignment| %>
      <tr>
        <td><%= instructor_assignment.name %></td>
        <td><%= instructor_assignment.email %></td>
        <td><%= instructor_assignment.role %></td>
        <td>
          <%= button_to 'Edit', edit_course_cohort_instructor_assignment_path(@course, @cohort, instructor_assignment), method: :get, class: 'btn btn-warning btn-xs' %>
          <%= button_to 'Remove', [@course, @cohort, instructor_assignment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= link_to 'Assign New', new_course_cohort_instructor_assignment_path(@course, @cohort), class: 'btn btn-default btn-xs' %></th>
    </tr>
  </table>
</div>