<div class='cohort_students'>
  <h3><%= @cohort.name %> Students</h3>

  <table class='table table-striped'>

    <col class='col_user_name'/>
    <col class='col_user_email'/>
    <col class='col_user_role'/>
    <col class='col_user_actions'/>

    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Other Cohorts</th>
      <th>Outstanding Balance</th>
      <th>Prework Status</th>
      <th><!-- Actions --></th>
    </tr>
    <% @cohort.enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.name %></td>
        <td><%= enrollment.email %></td>
        <td><%= enrollment.other_cohorts %></td>
        <td><%= number_to_currency(enrollment.outstanding_course_fee, unit: '£') %></td>
        <td><%= enrollment.prework %></td>
        <td>
          <% if can? :manage, Enrollment %>
            <%= button_to 'Edit', edit_course_cohort_enrollment_path(@course, @cohort, enrollment), method: :get, class: 'btn btn-warning btn-xs' %>
            <%= button_to 'Remove', [@course, @cohort, enrollment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if can? :manage, Enrollment %>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= link_to 'Enroll New', new_course_cohort_enrollment_path(@course, @cohort), class: 'btn btn-default btn-xs' %></th>
      </tr> 
    <% end %>
  </table>
</div>