<h2><%= @cohort.name %></h2>

<p>Intended Start Date: <%= @cohort.start_date %></p>
<p>Assigned Instructors: <%= @cohort.instructors.count %></p>
<p>Enrolled Students: <%= @cohort.students.count %></p>

<%= button_to 'Edit', edit_course_cohort_path(@course, @cohort), method: :get, class: 'btn btn-default btn-xs' %>
<%= button_to 'Delete', [@course, @cohort], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>

<%= render 'cohort_instructors' %>

<%= render 'cohort_students' %>

<%= link_to 'Back', dashboard_index_path %>