<%= form_for([@location, @classroom]) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class='form-group'>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity, min: 0, step: 1 %>
  </div>

  <div class='form-group'>
    <%= f.label :facilities %><br>
    <%= f.text_area :facilities %>
  </div>

  <%= f.hidden_field :location_id %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default btn-xs' %>
  </div>
<% end %>