<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date, :value => @booking.if_intended_start %>
  </div>

  <%= f.hidden_field(:cohort_id, :value => @booking.cohort_id) %>
  <%= f.hidden_field(:classroom_id, :value => @booking.classroom_id) %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default btn-xs' %>
  </div>
<% end %>