<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class='form-group'>
    <%= f.label :duration_weeks %><br>
    <%= f.number_field :duration_weeks, min:1, step: 1%>
  </div>

  <div class='form-group'>
    <%= f.label :instructors_req %><br>
    <%= f.number_field :instructors_req, min: 1, step: 1 %>
  </div>

  <div class='form-group'>
    <%= f.label :price %><br>
    <%= f.number_field :price, min: 0 %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default btn-xs' %>
  </div>
<% end %>