<!DOCTYPE html>
<html>
<head>
  <title>Classkeeper</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1><%= link_to 'Classkeeper', dashboard_index_path %></h1>
    <sub>Because everyone needs to know where to go to learn.</sub>

    <nav class="navbar">
      <div class="left-nav">
        
      </div>
      <div class="right-nav">
          <% if current_user %>
            <p>Logged in as <%= current_user.name %></p>
            <p><small><%= link_to 'Logout', destroy_user_session_path, method: :delete %></small></p>
          <% else %>
            <p><small><%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></small></p>
          <% end %>
      </div>
      <div class="clear"></div>
    </nav>
    <% flash.each do |name, message| %>
      <div class='flash-message'>
        <%= message %>
        <%#= notice %>
        <%#= alert %>
      </div>
    <% end %>

  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
